/node_modules
package-lock.json

#Logs
logs/
checkservout.log
checkserverror.log

# Fichier 
.git
.env
.gitignore
.dockerignore

# Dossier et fichier inutile
/config
/resources
README.md
Dockerfile
LICENSE